// widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat (4, 1fr);
  }
}

//laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    margin-top: 0;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem;
    }

    #home h1 {
      margin-top: 0;
    }
    .sm-heading {
      font-size: 1.5rem;
    }
  }

  #bg-img {
    background-size: 10%;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/portrait_small.jpg');
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .parts {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    padding: 0;
  }

  .container {
    width: 240px;
    height: 160px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }

  #col-3 {
    margin-top: 1.5rem;
  }

  #col-4 {
    margin-top: 1.5rem;
  }

  .lg-heading {
    margin: 0;
  }
  .post-1 {
    width: 120px;
    height: 80px;
    &__img {
      width: 120px;
      height: 80px;
    }

    &__link {
      font-size: 1rem;
    }
  }

  .post-2 {
    width: 120px;
    height: 80px;
    &__img {
      width: 120px;
      height: 80px;
    }
    &__link {
      font-size: 1rem;
    }
  }

  .post-3 {
    width: 120px;
    height: 80px;
    &__img {
      width: 120px;
      height: 80px;
    }
    &__link {
      font-size: 1rem;
    }
  }

  .post-4 {
    width: 120px;
    height: 80px;
    &__img {
      width: 120px;
      height: 80px;
    }
    &__link {
      font-size: 1rem;
    }
  }
  #about {
    h1 {
      font-size: 3rem;
      padding-top: 1.5rem;
      margin: 0 auto;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .bio-image {
    max-width: 120px;
    height: auto;
    border: $secondary-color 2px solid;
  }

  .bio {
    line-height: 1.2;
    margin: 0 auto;
    padding: 0 auto;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

//phones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 0;
    }
  }

  #bg-img {
    background-size: 10%;
  }

  .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .parts {
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 30px;
  }

  .part2 {
    padding-top: 0;
  }
  .menu {
    .portrait {
      background: url('../img/portrait_mini.jpg');
      width: 100px;
      height: 100px;
      background-size: cover;
    }
  }
  #about {
    padding-top: 1rem;
    h1 {
      font-size: 1.8rem;
      padding-top: 1rem;
      margin: 0 auto;
    }

    h2 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .bio-image {
    max-width: 100px;
    height: auto;
    border: $secondary-color 2px solid;
  }

  .bio {
    line-height: 1.2;
    margin: 0 auto;
    padding: 0 auto;
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
  .about-info {
    grid-gap: 5px;
  }

  .job {
    p {
      font-size: 0.7rem;
    }
  }
}

//4inch phones
@include mediaMn {
  main {
    padding: 1.8rem;
    #home h1 {
      margin-top: 0;
    }
  }

  #bg-img {
    background-size: 10%;
  }

  .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }

  #blog {
    margin-bottom: 0;
    padding-bottom: 0;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.1rem;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .btn {
    display: inline-block;
  }

  .parts {
    margin-top: -50px;
    padding-bottom: 10px;
    padding-top: 30px;
  }

  .part2 {
    padding-top: 0;
  }
  .menu {
    .portrait {
      background: url('../img/portrait_mini.jpg');
      width: 100px;
      height: 100px;
      background-size: cover;
    }
  }
  #about {
    height: 100vh;

    h1 {
      padding-top: 30px;
      font-size: 1.5rem;
    }

    h2 {
      font-size: 0.8rem;
    }
  }

  .bio-image {
    max-width: 80px;
    height: auto;
    border: $secondary-color 1.5px solid;
  }

  .bio {
    line-height: 1.2;

    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
  .about-info {
    grid-gap: 10px;
  }

  .job {
    p {
      font-size: 0.6rem;
    }
    h3 {
      font-size: 0.8rem;
    }
  }

  #contact {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }

    .boxes {
      div {
        font-size: 1.5rem;
        border: 2px #fff solid;
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
